
<h1>All Books....</h1>

<h2><% @books.each do |book| %></h2>
<h2><%= link_to book.title, book_path(book)  %></h2>
<h2><%= book.author %></h2>
<div>
  <% if book.user_books.count(:rating) > 0 %>
<h4><%= book.user_books.average(:rating).round(1) %> (<%= book.user_books.count(:rating)%> ratings)</h4>
<% else %>
<h4>Not rated yet.</h4>
<% end %>
</div>

<%= cl_image_tag(book.photo.path, width: 128, height: 200, crop: :fill)  %>
<% end %>

<h2><%= link_to "Add a new book", new_book_path %></h2>
<h2> <%= link_to "My Bookshelf", my_books_books_path %> </h2>
<h2> <%= link_to "My Reading List", my_reading_list_books_path %> </h2>
