
<div class="banner">
  <%= image_tag "bookcase05.jpg" %>
</div>

<div class="container">

  <% @books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-2">
      <%= link_to book_path(book) do %>
  <div class="card" >
    <div class="card-image" >
      <%=cl_image_tag(book.photo.path, width: 160, height: 260, crop: :fill)  %>
    </div>
    <div id="card-title">
      <div class="text-limit">
      <%= book.title  %>
      </div>
    </div>
    <div class="card-author">
      <%=book.author%>
    </div>
    <div class="card-rating">
     <div class="card-rating-inner">
        <% if book.user_books.count(:rating) > 0 %>
        <%=book.user_books.average(:rating).round(1) %> (<%= book.user_books.count(:rating) %> ratings)
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
  </div>
<% end %>

</div>
