
<div class="container">
  <div class="title">
    <h1>My Bookshelf</h1>
  </div>
    <% @my_books.each do |user_book| %>
   <div class="col-xs-6 col-sm-6 col-md-2">
    <%= link_to book_path(user_book.book) do %>
      <div class="card">
        <div class="card-image" >
          <%=cl_image_tag(user_book.book.photo.path, width: 160, height: 260, crop: :fill)  %>
        </div>
        <div id="card-title">
          <div class="text-limit">
            <%= user_book.book.title%>
          </div>
        </div>
        <div class="card-author">
          <%= user_book.book.author %>
        </div>
        <div class="card-rating">
          <div class="card-rating-inner">
            <% if user_book.book.user_books.count(:rating) > 0 %>
              <%= user_book.book.user_books.average(:rating).round(1) %> (<%= user_book.book.user_books.count(:rating) %> rating)
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
