<div class="container">
  <!-- Left columns -->
  <div class="col-xs-12 col-sm-6">
<!-- display current users rating of the book if it exitists -->
    <div class ="content-box">
     <!-- If statement to identify if the books has just been added to give option to delete if wrong book -->
      <% if user_signed_in? %>
        <% if @book.created_by == current_user.id && @book.user_books.count == 0 && @book == Book.last %>
          <div class ="content-box">
            <h2><%= link_to "Not the book you're looking for?", book_path(@book), method: :delete  %></h2>
          </div>
        <% end %>
      <% end %>
<!-- book cover -->
      <div class="img-show">
        <%= cl_image_tag(@book.photo.path, width: 320, height: 500, crop: :fill)  %>
      </div>
      <!-- if user signed in and rated this book show rating -->
      <div class="rating-show">
      <% if user_signed_in? %>
        <% if current_user.books.include? @book  %>
          <% if current_user.user_books.find{|f| f.book_id == @book.id}.rating != nil %>
            <h2>Your rating = <%= current_user.user_books.find{|f| f.book_id == @book.id}.rating %> </h2>
          <% end %>
        <% end %>
      <% end %>
    <div>
      <% if @book.user_books.count(:rating) == 1 %>
          <h4> Avg Rating =<%= @book.user_books.average(:rating).round(1) %> from <%= @book.user_books.count(:rating)  %> rating</h4>
          <% else @book.user_books.count(:rating) > 1 %>
          <h4> Avg Rating =<%= @book.user_books.average(:rating).round(1) %> from <%= @book.user_books.count(:rating)  %> ratings</h4>

        <% end %>

      </div>
    </div>
  </div>
</div>


<!-- right colunms -->

  <div class="col-xs-12 col-sm-6">
<!-- book desription etc from google -->
    <div class ="content-box">
      <p><%= @book.description %></p>
      <h4>Page count =<%= @book.page_count %>. ISBN =<%= @book.isbn %></h4>
    </div>
<!-- options to add remove for bookshelf etc only availible if signed in -->

    <% if user_signed_in? %>
      <%= render "user_book_form" %>
    <% end %>





<!-- shows which other users have this book,there rating and a link to their books -->
  <% if @book.users.length > 0 %>
    <div class ="content-box">
      <h4>Other users who have this book:</h4>
      <% @book.users.each do |user| %>
        <% if user !=current_user %>
          <%= simple_form_for [@book, user], url: book_user_book_path(@book, user), method: :get  do |f| %>
          <%= f.input :have_or_want, :as => :hidden, :input_html => { :value => true } %>
          <%= f.submit "#{user[:username]}-#{user.user_books.find{|f| f.book_id == @book.id}.rating}" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>


  <div class ="content-box">
    <%= simple_form_for [@book, @comment], url: book_comments_path(@book, @comment), method: :post  do |f| %>

      <%= f.input :content, :label => "Write a comment or review:" %>
      <%= f.submit "Submit comments" %>
    <% end %>
  <% @book.comments.map do |comment| %>
  <h4><%= comment.user.username %> said: <%= comment.content %> </h4>
  <% end %>
  </div>
</div>
</div>

<!-- comments secion -->
<div class="container">


</div>
