
<h1><%= @book.title %></h1>
<h1><%= "by #{@book.author}"  %></h1>
<h2><%= @book.genre %></h2>


<!-- display current users rating of the book if it exitists -->
<% if user_signed_in? %>
<% if current_user.books.include? @book  %>
<% if current_user.user_books.find{|f| f.book_id == @book.id}.rating != nil %>
<h2>Your rating = <%= current_user.user_books.find{|f| f.book_id == @book.id}.rating %> </h2>
<% end %>
<% end %>
<% end %>
<div>
  <% if @book.user_books.count(:rating) > 0 %>
  <h4> Avg Rating =<%= @book.user_books.average(:rating).round(1) %> from <%= @book.user_books.count(:rating)  %> ratings</h4>
  <% else %>
  <h4>Not rated yet.</h4>
  <% end %>
</div>


<%= cl_image_tag(@book.photo.path, width: 256, height: 400, crop: :fill)  %>
<p><%= @book.description %></p>
<h4>Page count =<%= @book.page_count %>. ISBN =<%= @book.isbn %></h4>
<% if user_signed_in? %>
<%= render "user_book_form" %>
<% end %>



<% @book.users.each do |user| %>
<%= user[:email]  %>
<%= user.user_books.find{|f| f.book_id == @book.id}.rating %>
<% end %>





<h2><%= link_to "Edit this book", edit_book_path %></h2>
<h2><%= link_to "Back to Library", books_path %></h2>
<h2> <%= link_to "My Bookshelf", my_books_books_path %> </h2>
