




<% @their_books.each do |userbook| %>
<h2><%= link_to userbook.book.title, book_path(userbook.book)%></h2>
<h2><%= userbook.book.author %></h2>

<% if userbook.book.user_books.count(:rating) > 0 %>
<h4>  <%= userbook.book.user_books.average(:rating).round(1) %> (<%= userbook.book.user_books.count(:rating) %> rating)</h4>
<%if userbook.rating != nil %>
<h4> <%= userbook.user.username %> gave this <%=  userbook.rating%></h4>
<% end %>
<% if current_user.books.include? userbook.book  %>
<% if current_user.user_books.find{|f| f.book_id == userbook.book.id}.rating != nil %>
<h2>Your rating = <%= current_user.user_books.find{|f| f.book_id == userbook.book.id}.rating %> </h2>

<% end %>
<% end %>
<% else %>
<h4>Not rated yet</h4>
<% end %>

<%= cl_image_tag(userbook.book.photo.path, width: 128, height: 200, crop: :fill)  %>
<% end %>
<h1>My Bookshelf</h1>





<h2><%= link_to "Back to Library", books_path %></h2>
