<!DOCTYPE html>
<html>
<head>
  <title>BookshelfV2</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= cloudinary_js_config %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>

<body>
  <%= render 'shared/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
