<!DOCTYPE html>
<html>
<head>
  <title>BookshelfV2</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= cloudinary_js_config %>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;   user-scalable=0;" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>

<body>
  <div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

  </div>

  <div>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
